{{!-- Adicionando produto --}}
<div class="row">
  <div class="col-6"><h1>Produtos</h1></div>
  <div class="col-6 d-flex justify-content-end">
    <a href="/addprod" type="button" class="btn btn-primary align-self-center">+ novo produto</a>
  </div>
</div>


{{!-- Exibindo a tabela de dados --}}
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      {{!-- <th scope="col">ID</th> --}}
      <th scope="col"><i class="bi bi-upc-scan"></i></th>
      <th scope="col">Nome</th>
      <th scope="col">Categoria</th>
      <th scope="col">Preço</th>
      <th scope="col">Estoque</th>
      <th scope="col" class="text-center">Ação</th>
    </tr>
  </thead>
  <tbody>

    {{#each rows}}
    <tr>
      {{!-- <th scope="row">{{this.id_produto}}</th> --}}
      <th scope="row">{{this.cod_barra}}</th>
      <td>{{this.nome}}</td>
      <td>{{this.categoria}}</td>
      <td>{{this.preco}}</td>
      <td>{{this.qtd_estoque}}</td>
      <td class="text-center">
          <a href="#" type="button" class="btn btn-light btn-sm"> <i class="bi bi-eye"></i> Exibir</a>
          <a href="/editprod/{{this.id}}" type="button" class="btn btn-light btn-sm"><i class="bi bi-pencil-square"></i> Editar</a>
          <a href="#" type="button" class="btn btn-light btn-sm"> <i class="bi bi-x-square"></i> Excluir</a>
     </td>
    </tr>
    {{/each}}

  </tbody>
</table>