{{! Cabeçalho }}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Início</a></li>
        <li class="breadcrumb-item active" aria-current="page">Detalhes do
            Produto</li>
    </ol>
</nav>

<div class="view-prod p-5">
    {{#each rows}}

        <div class="row mb-5">
            <div class="col text-center">
                <h3><i class="bi bi-upc-scan"></i> {{cod_barra}} - {{nome}}</h3>
            </div>
        </div>

        <table class="table table-bordered">

            <thead class="thead-dark">
                <tr>
                    <th scope="col">#Id</th>
                    <th scope="col">Código de Barras</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Fabricante</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Estoque</th>
                    <th scope="col">Peso</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Data de inclusão</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>

            <tr>
                <th scope="row">{{this.id}}</th>
                <th scope="row">{{this.cod_barra}}</th>
                <td>{{this.nome}}</td>
                <td>{{this.fabricante}}</td>
                <td>{{this.categoria}}</td>
                <td>{{this.tipo}}</td>
                <td>{{this.preco}}</td>
                <td>{{this.qtd_estoque}}</td>
                <td>{{this.peso}}</td>
                <td>{{this.descricao}}</td>
                <td>{{this.data}}</td>
                <td>{{this.status}}</td>
            </tr>

        </table>

        {{!-- Opção para editar produto dentro da exibição dos detalhes --}}
        <a href="/editprod/{{this.id}}" type="button" class="btn btn-light btn-sm"><i class="bi bi-pencil-square"></i> Editar</a>

    {{/each}}
</div>